<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curling Up</title>
</head>
<body>
    <h1>Curling Up</h1>
    <h3>Give me a url and I wil curl it up for you.</h3>

    <form action="" method="POST">
        <input type="text" name="url" id="url" placeholder="Enter a url">
        <input type="submit" value="Curl it up!">
    </form>

    <p>{{ stuff }}</p>

</body>
</html>